#Commonly Ignored Files
*.o
*.out
BoneOS.bin

#Eclipse Rememnants
.project/
.settings/
.cproject
.project

#Swap files
*.swp

#Log File
qemu.log

#VBox Rememnants
VBox-*.*

#Ignored Folders
cross/

#Bochs src & remmenants
bochslog.txt	
bochsrc.txt	
bx_enh_dbg.ini
